**Arhan Nair 25070123169**

Exp8: To study for loop in python

In [2]:
#Print number from 1 to 5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [4]:
# Print odd nuumbers betweeen 1 to 10
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [8]:
#Sum of first n numbers
n=int(input("Enter the value of n:"))
sum=0
for i in range(1,n+1):
  sum+=i
print("SUM = ",sum)

Enter the value of n:10
SUM =  55

In [18]:
#3x3 matrix display
A=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(3):
  for j in range(3):
    print(A[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [29]:
#Mulitpilcation of 2 3x3 Matrices
A=[[1,2,3],[4,5,6],[1,2,1]]
B=[[1,1,1],[6,5,4],[3,2,1]]
Result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):#rows of A
  for j in range(3):#columns of B
    for k in range(3):
      Result[i][j]+=A[i][k]*B[k][j]
#for i in range(3):
 # for j in range(3):
  #  print(Result[i][j],end=" ")
  #print()

for row in Result:
  print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [33]:
#Print all prime numbers in range
for num in range(2,50):
  for i in range(2,num):
    if num%i==0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [43]:
for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

In [51]:
for i in range(0,6):
  print(" "*(6-i)+"* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [54]:
for i in range(5,0,-1):
  print(" "*(6-i)+"$ "*i)

 $ $ $ $ $
  $ $ $ $
   $ $ $
    $ $
     $